# Folder(s) you want to ignore

/Users/bharathgoud/PycharmProjects/Shunya-00/Data

# Python virtual environment
venv/
env/
.venv/
.env/

# PyCharm project folder
.idea/

# Python cache
__pycache__/
*.pyc

# Secret files ( API keys)
.env